.example-spacer {
    flex: 1 1 auto;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}


.item-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    padding: 5px 5px 5px 20px;

    // .name,
    // .price {
    //   min-width: 60px;
    // }

    .name {
        max-width: 150px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .number-of-items {
        min-width: 25px;
    }

    :last-child {
        margin-left: auto;
    }
}

.final-amount-row {
    font-size: 16px;
}

.total-price {
    font-weight: bold;
}

.item {
    padding: 5px;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: normal;
}

span {
    margin: 0 2px;
}

input[type=number] {
    margin-left: 10px;
}

mat-form-field {
    width: 60px;
    height: 20px;
}

.product-container.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 20px;
    height: 77vh;
}

mat-drawer {
    min-width: 488px;
    width: 488px
}

.empty-cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    mat-icon {
        width: 120px;
        height: 120px;
        font-size: 120px;
    }
}

.price {
    width: fit-content;
    background: rgb(155, 245, 65);
    border-radius: 50px;
    padding: 5px 10px;
}

.product-container.grid mat-card {
    // max-height: 350px;
    // height: 250px;

}

mat-card.mat-card {
    margin-left: 0px;
    margin-right: 0px;
}

.product-container.list {
    padding: 20px;
    height: 77vh;
}

.product-container.list>.card-wrapper {
    margin: 0 0 20px 0;
}

img.prod-image {
    width: 280px;
    margin: 0 auto;
}

.product-container {
    background-color: #e9e9e9;
}

.selected-qty {
    display: inline-block;
    box-sizing: border-box;
    color: inherit;
    z-index: 0;
    vertical-align: super;
    text-align: center;
    padding: 15px;
}

.limited-qty {
    padding: 2px 5px;
    background: wheat;
}

.few-qty-in-stock {
    padding: 2px 5px;
    background: #ff2f2f;
    color: white;
    margin: 0 auto;
    text-align: center;
}

p.description {
    padding-top: 10px;
    padding-left: 5px;
}

mat-card-header {
    display: flex;
    padding: 16px 16px 16px;
}

mat-card-content {
    display: block;
    padding: 16px;
}

.final-amount-row {
    font-size: 16px;
    padding: 20px 15px;
    background: #ebebeb;
    border-radius: 5px;
}

.total-price {
    display: inline-block;
    float: right;
}

.item-description .actions {
    margin-left: 5px;
}

mat-drawer-container{
    height: calc(100% - 66px);
}

mat-spinner{
    top: 150px;
    margin:0 auto;
}